{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    <div class="container w-50">
        <h1>Register</h1>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}

            <button type="submit" class="btn btn-primary">Valider</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
