{% extends 'base.html.twig' %}

{% block body %}
    <main class="page-content">
        <div class="container-fluid">
            <h1>{{ title }}</h1>
            <hr>
                {{ form_start(form) }}
                    {{ form_row(form.Name) }}
                    {{ form_row(form.CatchPhrase) }}
                    {{ form_row(form.content) }}
                    {{ form_row(form.Category) }}
                    {{ form_row(form.Author) }}

                    <button type="submit" class="btn btn-primary">{{ buttonText }}</button>
                {{ form_end(form) }}
        </div>
    </main>
{% endblock %}
